img {
    width: 100%;
}
blockquote {
    padding-left: 1em;
    border-left: 3px solid black;
}
pre, code {
    background-color:beige;
}
textarea {
    width: 100%;
    outline: 0px;
    background-color:ghostwhite;
}
@media screen and (min-width: 768px) {
  textarea {
    position: fixed;
    width: 33.5%;
    height: 100%;
  }
}
